# Compilação e build
/build/
/out/
*.class

# Arquivos de configuração do sistema
*.log
*.properties
*.sqlite

# Configurações do ambiente de desenvolvimento
.idea/
*.iml
*.class

# Dependências locais
/lib/